    .dot {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 12px;
    height: 12px;
    background-color: #FFF;
    box-shadow: gray;
    opacity: 55%;
    border-radius: 100%;
    transform: translate(-50%, -50%);
    z-index: 999;
    pointer-events: none;
    
  }