#gradient-canvas {
    width:100%;
    height:100%;
    --gradient-color-1: #D1D5D8; 
    --gradient-color-2: #3498DB; 
    --gradient-color-3: #E74C3C;  
    --gradient-color-4: #F1C40F;
}

@font-face {
    font-family: roobertbi;
    src: url('fonts/Roobert/Roobert-SemiBoldItalic.woff2') format('woff2');
  }

@font-face {
    font-family: roobert;
    src: url("fonts/Roobert/Roobert-Regular.otf") format("opentype");
}

@font-face {
    font-family: roobertm;
    font-weight: medium;
    src: url("fonts/Roobert/Roobert-Medium.otf") format("opentype");
}

@font-face {
    font-family: roobertb;
    font-weight: bold;
    src: url("fonts/Roobert/Roobert-SemiBold.otf") format("opentype");
}

@font-face {
    font-family: roobertbb;
    font-weight: bolder;
    src: url("fonts/Roobert/Roobert-Bold.otf") format("opentype");
}

.fade-in-out {
    opacity: 0;
    animation: fade-in 3s ease-in forwards, fade-out 3s 3s ease-out forwards infinite alternate;
  }
  
  @keyframes fade-in {
    100% {
      opacity: 1;
    }
  }
  
  @keyframes fade-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  .normal {
    color: '#777672'
  }

  .white {
    color: 'white'
  }

  .gradient-text {
    background: #70CFA3;
    background: linear-gradient(to right, #70CFA3 0%, #EEFFAB 50%, #CF636E 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }