#gradient-canvas {
    width:100%;
    height:100%;
    --gradient-color-1: #c2bafd; 
  --gradient-color-2: #7a44f8; 
  --gradient-color-3: #775cff;  
  --gradient-color-4: #6d51fb;
}

@font-face {
    font-family: roobertbi;
    src: url('fonts/Roobert/Roobert-SemiBoldItalic.woff2') format('woff2');
  }

@font-face {
    font-family: roobert;
    src: url("fonts/Roobert/Roobert-Regular.otf") format("opentype");
}

@font-face {
    font-family: roobertm;
    font-weight: medium;
    src: url("fonts/Roobert/Roobert-Medium.otf") format("opentype");
}

@font-face {
    font-family: roobertb;
    font-weight: bold;
    src: url("fonts/Roobert/Roobert-SemiBold.otf") format("opentype");
}

@font-face {
    font-family: roobertbb;
    font-weight: bolder;
    src: url("fonts/Roobert/Roobert-Bold.otf") format("opentype");
}

.fade-in-out {
    opacity: 0;
    animation: fade-in 3s ease-in forwards, fade-out 3s 3s ease-out forwards infinite alternate;
  }
  
  @keyframes fade-in {
    100% {
      opacity: 1;
    }
  }
  
  @keyframes fade-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  .normal {
    color: '#777672'
  }

  .white {
    color: 'white'
  }

  .gradient-text {
    background: #BCC0FF;
    background: linear-gradient(to right, #BCC0FF 0%, #6EC3F4 50%, #CF636E 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .link-animate:after {
    display:block;
    content: '';
    border-bottom: solid 1.5px #B9BEFF;  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
    transform-origin: 100% 50%;
  }

  .link-animate:hover:after {
    transform: scaleX(1); transform-origin:   0% 50%;
  }